<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<!--    인터넷 권한-->
    <uses-permission android:name="android.permission.INTERNET"/>

<!--    갤러리 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<!--    카메라 권한-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Simya"
        android:name="com.example.simya.src.sharedpreferences.Shared"
        tools:targetApi="31">


        <activity android:name=".src.activity.splash.SplashActivity"
            android:exported="true">

        </activity>
        <activity android:name=".src.activity.login.LoginActivity"
            android:exported="true">

        </activity>
        <activity android:name=".src.activity.login.signIn.EmailLoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".src.activity.home.HomeMainActivity"
            android:exported="true">
        </activity>
        <activity android:name=".src.activity.story.StoryReviewActivity"
            android:exported="true"/>
        <activity android:name=".src.activity.story.StoryIntroActivity"
            android:exported="true"/>
        <activity
            android:name=".src.activity.login.singUp.SignupActivity"
            android:exported="true">

        </activity>

        <activity android:name=".src.activity.story.CreateMyStoryActivity"
            android:exported="true">
        </activity>
        <activity android:name=".src.activity.story.CreateMyStoryMainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity android:name=".src.activity.story.CreateMyStoryBorderActivity"
            android:exported="true">

        </activity>
        <activity android:name=".src.activity.story.OpenMyStoryActivity"
            android:exported="true"/>
        <activity android:name=".src.activity.myPage.ProfileEditActivity"
            android:exported="true"/>
        <activity android:name=".src.activity.myPage.MyPageLikeActivity"
            android:exported="true"/>
        <activity android:name=".src.activity.myPage.MyPageReviewActivity"
            android:exported="true"/>
        <activity android:name=".src.activity.story.StoryLikeActivity"
            android:exported="true"/>
        <activity android:name=".src.activity.story.OpenMyStoryInputActivity"
            android:exported="true"/>
        <activity android:name=".src.activity.story.EditMyStoryMenuActivity"
            android:exported="true"/>
        <activity android:name=".src.activity.chat.ChatActivity"
            android:exported="true">
        </activity>
        <activity android:name=".src.activity.story.TodayMenuActivity"
            android:exported="true"/>
    </application>

</manifest>